  <div class="row columns">
  <%= form_for(@booksmark) do |f| %>
    <% if @booksmark.errors.any? %>
      <h4 class="text-danger"><%= pluralize(@booksmark.errors.count, "error") %> prohibited this booksmark from being saved:</h4 class="text-danger">
    <% end %>
    <% if @booksmark.errors.any? %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <ul>
        <% @booksmark.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.text_field :url, :onBlur => "fetchUrl()", class: 'form-control', placeholder: 'Input the URL here...' %>
    </div>

    <div class="form-group">
      <%= f.text_field :title, class: 'form-control', :placeholder => "Wait for the load title automatically..." %>
    </div>

    <div class="actions text-right">
      <%= link_to 'Back', booksmarks_path, :class => "btn btn-default pull-left" %>
      <%= f.submit "Update bookmark", :class => "btn btn-success" %>
    </div>
  <% end %>

  <script type="text/javascript" defer>
     function fetchUrl() {
       var url = document.getElementById( "booksmark_url" ).value;
       $.ajax({
           type: 'GET',
           url: "/booksmarks/get_title?url=" + url,
           success: function(data){
               $("#booksmark_title").val(data);
           },
           dataType: 'text'
       });
     }
   </script>
   </div>