<div class="row columns">
<%= form_for(@booksmark) do |f| %>
  <% if @booksmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booksmark.errors.count, "error") %> prohibited this booksmark from being saved:</h2>

      <ul>
      <% @booksmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url, :onBlur => "fetchUrl()" %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit :class => "button success" %>
  </div>
<% end %>

<script type="text/javascript" defer>
   function fetchUrl() {
     var url = document.getElementById( "site_url" ).value;
     $.ajax({
         type: 'GET',
         url: "/sites/get_title?url=" + url,
         success: function(data){
             $("#site_title").val(data);
         },
         dataType: 'text'
     });
   }
 </script> 
 </div>