<p id="notice"><%= notice %></p>
<h1 class="text-center">♥ My Booksmarks List ♥</h1>

<% @booksmarks.each do |booksmark| %>
<div class="callout">
  <h5><%= link_to booksmark.title, booksmark.url, :target => "_blank", :class => "uppercase" %>
</h5>
<div class="button-group tiny">
  <%= link_to 'Details', booksmark, :class => "tiny button" %>
  <%= link_to 'Edit', edit_booksmark_path(booksmark), :class => "tiny button warning" %>
</div>

  
  
 
</div>

<% end %>

<div class="row columns">
<div class="text-center">
    <%= link_to ' + Add Booksmark', new_booksmark_path, :class => "button success" %>

</div>
</div>