<script>
    $.notify("<%= notice %>", "success");
</script>

<div class="row">
    <div class="jumbotron">
        <div class="container">
            <h3 class="text-center"><%= @booksmark.title %></h3>
            <p>
              <%= link_to @booksmark.url, :target => "_blank", :class => "btn btn-success btn-lg btn-block" do %>
                    <%= @booksmark.url %><span class="glyphicon glyphicon-share-alt pull-right" aria-hidden="true"></span>
              <% end %>
            </p>
            <div class="text-center">
            <%= link_to 'Back', booksmarks_path, :class => "btn btn-default pull-left" %>
            <%= link_to 'Edit', edit_booksmark_path(@booksmark), :class => "btn btn-warning pull-right" %>
            </div>
        </div>
    </div>
</div>
