  <div class="row">
    <div class="small-12 large-12 columns">
<p id="notice"><%= notice %></p>

  <h4><%= @booksmark.title %></h4>
<p>
  <strong>URL:</strong>
  <%= link_to @booksmark.url, @booksmark.url, :target => "_blank", :class => "button success" %>
</p>
<div class="text-center">
<%= link_to 'Back', booksmarks_path, :class => "secondary button" %>
<%= link_to 'Edit', edit_booksmark_path(@booksmark), :class => "button warning" %>
</div>
 </div></div>
