<div class="row">
    <div class="jumbotron">
      <div class="container">
          <h3 class="text-center">Log in</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <%= f.check_box :remember_me %> <b>Remember me</b>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Sign In", :class => "btn btn-success pull-right" %>
            </div>
          <% end %>
          <%= render "users/shared/links" %>
      </div>
    </div>
  </div>

</div>