<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "My Bookmarks" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <style type="text/css">
    body {
            max-width: 600px;
            margin-left: auto;
            margin-right: auto;
        }
        .dual-list .list-group {
            margin-top: 8px;
        }

        .list-left li, .list-right li {
            cursor: pointer;
        }

        .list-arrows {
            padding-top: 100px;
        }

        .list-arrows button {
            margin-bottom: 20px;
        }
    </style>
  </head>

<body>




<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container" style="max-width: 680px">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to booksmarks_path, class: 'navbar-brand' do %>
                    <span class="glyphicon glyphicon-star text-warning" aria-hidden="true"></span> Bookmarks
                <% end %>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">
                <% if user_signed_in? %>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Edit User", edit_user_registration_path %></li>
                            <li role="separator" class="divider"></li>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                        </ul>
                    </li>
                </ul>
                <%= link_to new_booksmark_path, :class => "btn btn-warning pull-right navbar-btn" do %>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New
                <% end %>
                <% else %>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                    <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-default navbar-btn" %>
                <% end %>
            </div>
        </div>
    </div>
</nav>

<div style="margin-top: 65px"></div>

<div class="cointainer">
    <%= yield %>
</div>
    <hr>
    <footer>
        <p class="text-center">
        <a href="https://github.com/leandromac/Bookmarks" target="_blank">
        <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" width="30"></a></p>
    </footer>


<script type="text/javascript">
        $(function () {

            $('body').on('click', '.list-group .list-group-item', function () {
                $(this).toggleClass('active');
            });
            $('.list-arrows button').click(function () {
                var $button = $(this), actives = '';
                if ($button.hasClass('move-left')) {
                    actives = $('.list-right ul li.active');
                    actives.clone().appendTo('.list-left ul');
                    actives.remove();
                } else if ($button.hasClass('move-right')) {
                    actives = $('.list-left ul li.active');
                    actives.clone().appendTo('.list-right ul');
                    actives.remove();
                }
            });
            $('.dual-list .selector').click(function () {
                var $checkBox = $(this);
                if (!$checkBox.hasClass('selected')) {
                    $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
                    $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
                } else {
                    $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
                    $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
                }
            });
            $('[name="SearchDualList"]').keyup(function (e) {
                var code = e.keyCode || e.which;
                if (code == '9') return;
                if (code == '27') $(this).val(null);
                var $rows = $(this).closest('.dual-list').find('.list-group li');
                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
                $rows.show().filter(function () {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                    return !~text.indexOf(val);
                }).hide();
            });

        });
</script>

  </body>
</html>
