<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>♥ <%= content_for?(:title) ? yield(:title) : "My Booksmarks" %> ♥</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text"></li>

      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <%= form_tag(booksmarks_path, method: :get) do %>
        <%= text_field_tag 'search', nil, placeholder: 'Enter search term...' %>
      </li>
      <li>
        <%= submit_tag 'Search', :class => 'button' %>
        <% end %>
      </li>
    </ul>
  </div>
</div>

    <%= yield %>

  </body>
</html>
